.primerLetra::first-letter {
    font-size: 30pt;
    font-family: 'Times New Roman';
    color:blueviolet;
}
.ultimaLetra::after{
    font-size: 30pt;
    font-family: 'Times New Roman';
    color:blueviolet;
}

   
    