*{
    font-family: verdana;
    p {
        font-size: 8pt;}
}

p {

    font-size: 10pt;
}
h1{
    color:blue
}
h2{
    color:green
}
p{
    font-family: arial black;
}
h1{
    color:red;
    font-family: arial;
    font-size: 50px;
    
}
p{
    color:orange;
    text-justify: auto;
    line-height: 1.5;
}
ul {
    list-style-image: url('smiley.gif');
  }
.azulVerdoso{
    background-color:rgba(39, 156, 177, 0.788);
}
.naranja{
    background-color: orange;
}
table{
    background-color: darkgrey;
    border-spacing: 12px;
    td{
        padding: 4px; 
    }
}
